.hero h1 {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlide 1.2s ease forwards;
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.custom-navbar {
    background-color: #1e7d32; 
    padding: 15px 0;
}

.logo-green {
    color: #ffffff; 
}

.logo-white {
    color: #c8facc; 
}

.nav-link:hover {
    color: #c8facc !important;
}
.navbar-brand img{
    height: 40px;
    width: 60px;
}


/* Navbar */
.custom-navbar {
    background-color: #1e7d32;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('image/519da3d1e4167e6403f26645c651cde7\ \(1\).jpg');
    background-size: cover;
    background-position: center;
}

/* Cards */
.card img {
    height: 220px;
    object-fit: cover;
}


/*style menu*/


/* Section menu */
.menu-section {
    background-color: #f4fff6;
}

/* Cartes */
.menu-card img {
    height: 220px;
    object-fit: cover;
}

.menu-card {
    border: none;
    border-radius: 15px;
    transition: 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-8px);
}

/* Prix */
.price {
    font-size: 18px;
    font-weight: bold;
    color: #1e7d32;
}


/*partie propo*/

    body {
      background-color: #ffffff; 
      color: #2d5f2d; 
    }
    .about-section {
      padding: 60px 20px;
    }
    .about-photo {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid #2d5f2d;
    }
    .btn-custom {
      background-color: #2d5f2d;
      color: white;
      border-radius: 25px;
      padding: 10px 30px;
    }
    .btn-custom:hover {
      background-color: #1f3f1f;
      color: white;
    }


    /*js animation*/
    .menu-card {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.menu-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/*style active*/

.navbar .nav-link {
    position: relative;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #90ee90 !important;
}

.navbar .nav-link.active {
    color: #90ee90 !important;
    font-weight: bold;
}

.navbar .nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #90ee90;
    bottom: -5px;
    left: 0;
    border-radius: 2px;
}
